---
import { work } from "@/data/cv.json";
import Section from "@/components/Section.astro"
import List from "@/components/List.astro"

---

<Section title="Work Experience">
    <List>
        {work.map(({name, position, summary, startDate, endDate})=>
            <article>
                <header class="header-experience">
                    <h3>{name}</h3>
                    <span>{startDate}{endDate ? ` - ${endDate}` : " - Present"}</span>
                </header>
                <h4>{position}</h4>
                <p>{summary}</p>
            </article>
        )}
    </List>
</Section>

<style>
    article{
        display: flex;
        flex-direction: column;
        gap: .3rem; 
    }

    .header-experience{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    h3{
        color: #2f2f2f;
        font-size: 1.15rem;
    }

    h4 {
        color: #464646;
        font-weight: 600;
        font-size: .95rem;
    }
</style>